* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
body {
  background: lightgray;
}
header {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 10px solid;
  border-image: linear-gradient(to right, #5fc3e4 0%, #e55d87 100%) 47% 0%;
  display: flex;
}
.container {
  width: 1440px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.logo-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.logo {
  width: 80px;
  height: 60px;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.form {
  width: 300px;
  position: relative;
}
input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border: lightgray;
  border-radius: 10px;
  outline: 0;
}
button {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  background: white;
  background-image: url('../img/search-icon.png');
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  display: flex;
}
.main {
  margin: auto;
  width: 1440px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.galery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.galery-item {
  min-width: 300px;
  width: calc((100% - 60px)/3);
  height: 214px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2px;
  cursor: pointer;
}
footer {
  display: flex;
  border-top: 10px solid;
  border-image: linear-gradient(to right, #5fc3e4 0%, #e55d87 100%) 47% 0%;
}

.year {
  font-size: 38px;
}
.logo-rss {
  width: 100px;
}

@media screen and (max-width: 1024px) {
  .galery-item {
    min-width: 300px;
    width: calc((100% - 60px)/2);
    height: 214px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;
    cursor: pointer;
  }
  
}
@media screen and (max-width: 680px) {
  .galery {
    justify-content: center;
  }
  .galery-item {
    min-width: 300px;
    width: calc((100% - 60px));
    height: 214px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;
    cursor: pointer;
  }
  
}
@media screen and (max-width: 547px) {
  header .container {
    width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
  }
}
@media screen and (max-width: 361px) {
  .container {
    min-width: 200px;
  }
  header .container {
    flex-direction: column;
    gap: 20px;
  }
  .logo-title {
    flex-direction: column;
  }
  .galery-item {
    min-width: 200px;
  }
  .form {
    width: 200px;
  }
  .logo-git {
    width: 40px;
  } 
  footer .container > span {
    font-size: 25px;
  } 
  .logo-rss {
    width: 60px;
  }
}